@import "tailwindcss";
header {
  @apply xl:w-3/4 xl:mx-auto;
  .region-header {
    @apply px-0 py-0;
  }
  .site-logo {

  }
}
main {
  .layout-content {
    @apply mx-3 xl:mx-0;
    article {
      @apply overflow-x-hidden;
      div.node__content {
        p > img {
          @apply w-1/2 sm:w-max;
          &.align-right {
            @apply ml-2 mb-2;
          }
          &.align-left {
            @apply mr-2 mb-2;
          }
        }
        & > div {
          @apply wrap-break-word;
        }
      }
      .node__meta {
        @apply flex;
        article {
          @apply flex-none;
          img {
            @apply h-6 w-6 inline;
          }
        }
        .node__submitted {
          @apply ml-2 pt-1 flex-1;
        }
      }
      p > a,
      li > a {
        @apply text-black underline-offset-1 decoration-1;
      }
    }
  }
}

nav.breadcrumb {
  @apply mx-3 xl:mx-0;
  ol > li > a {
    @apply no-underline;
  }
}

a {
  @apply text-fuchsia-700 underline underline-offset-3 decoration-fuchsia-600/50 decoration-2 transition hover:text-fuchsia-900 hover:bg-fuchsia-600/20 active:text-fuchsia-800 focus:text-fuchsia-800;
}

article.node.node--view-mode-blog-teaser {
  @apply my-2;
}
