@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu.woff2') format('woff2'),
  url('../fonts/Ubuntu.woff') format('woff'),
  url('../fonts/Ubuntu-R.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../fonts/UbuntuMono-R.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import "./theme.pcss";
@import "tailwindcss";
@source inline("badge");

h1, h2, h3, h4, h5, h6 {
  @apply font-ubuntu-mono font-bold;
}
p {
  @apply font-ubuntu;
}
header {
  @apply w-full font-ubuntu bg-neutral-100 drop-shadow-sm mb-8;
  .region-header {
    @apply px-0 py-0;
    .navbar {
      @apply bg-transparent shadow-none xl:w-3/4 lg:mx-auto;
    }
  }
  .site-logo {

  }
}
main {
  @apply p-0;
  .layout-content {
    @apply mx-3 xl:mx-0;
    .block-page-title-block {
      @apply mb-10 mx-4 lg:mx-8;
    }
    article {
      @apply overflow-x-hidden bg-neutral-100 p-4 lg:p-8 rounded-4xl;
      div.node__content {
        a {
          @apply font-bold;
        }
        p img {
          @apply w-max lg:w-1/2 mb-4 max-w-max rounded-2xl shadow-md/25;
        }
        & > div {
          @apply wrap-break-word;
        }
      }
      .node__meta {
        @apply flex;
        article {
          @apply flex-none;
          img {
            @apply h-6 w-6 inline;
          }
        }
        .node__submitted {
          @apply ml-2 pt-1 flex-1;
        }
      }
      p > a,
      li > a {
        @apply text-black underline-offset-1 decoration-1;
      }
    }
  }
}

nav.breadcrumb {
  @apply mx-3 xl:mx-0;
  ol > li > a {
    @apply no-underline;
  }
}

a {
  @apply text-fuchsia-700 underline underline-offset-3 decoration-fuchsia-600/50 decoration-2 transition hover:text-fuchsia-900 hover:bg-fuchsia-600/20 active:text-fuchsia-800 focus:text-fuchsia-800;
}

article.node.node--view-mode-blog-teaser {
  @apply my-2;
}
.badge {
  > a {
    @apply no-underline;
  }
}

footer {
  @apply w-full;
  .region-footer {
    @apply w-full;
  }
}
